<form name="filterForm">
	<div layout="row" layout-align="start center">
		<md-input-container flex>
			<label>Filtrar</label>
			<input ng-model="filter" ng-model-options="{debounce:500}" />
		</md-input-container>
		<md-button href="/photos/new" class="md-primary md-raised">Nova Foto</md-button>
	</div>
</form>
<div layout="row" layout-sm="column" layout-wrap>
	<a-card class="card-fade" ng-repeat="photo in photos | filter: filter" 
		flex-md="33" flex-gt-md="25" title="{{photo.title}}" identifier="{{photo._id}}">
		<img ng-src="{{photo.url}}" class="md-card-image" alt="{{photo.title}}" />
	</a-card>
</div>