<!DOCTYPE html>
<html lang="pt-br" ng-app="alexpic">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Alexpic</title>
		
		<!-- Angular Material CSS; version 0.11.2 used here -->
		<link rel="stylesheet" href="css/angular-material.min.css">

		<!-- Custom Styles -->
		<link rel="stylesheet" href="css/effects.css">

		<!-- Angular Javascript -->
		<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>

		<!-- Angular Material Javascript; version 0.11.2 used here -->
		<script type="text/javascript" src="js/lib/angular/angular-animate.min.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-aria.min.js"></script>
		<script type="text/javascript" src="js/lib/angular/angular-material.min.js"></script>

		<!-- Custom Javascripts -->
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript" src="js/controllers/photos-controller.js"></script>
		<script type="text/javascript" src="js/directives/custom-directives.js"></script>
	</head>
	<body ng-controller="PhotosController">
		<md-toolbar class="md-tall md-accent" layout-align="space-around center">
			<h2>Alexpic</h2>
		</md-toolbar>
		<md-content layout-padding>
			<form name="filterForm">
				<md-input-container flex>
					<label>Filtrar</label>
					<input ng-model="filter" ng-model-options="{debounce:500}" />
				</md-input-container>
			</form>
			<div layout="row" layout-wrap>
				<a-card class="card-fade" ng-repeat="photo in photos | filter: filter" 
					flex-sm="50" flex-md="33" flex-gt-md="25" title="{{photo.title}}">
					<img ng-src="{{photo.url}}" class="md-card-image" alt="{{photo.title}}" />
				</a-card>
			</div>
		</md-content>
	</body>
</html>